
<h1>Sign</h1>
<%= form_for(:session, url: login_path) do |f|%>
<%= f.label :username%>
<%= f.text_field :name ,placeholder: 'Name'%><br>%>
<br />
<%= f.label :password%>
<%= f.password_field :password%>
<br />
<%= f.submit 'Login'%>
<% end %>