
<h3>Register</h3>
<%= form_for @user do |f| %>
  <%= f.label "Name:"%>
  <%= f.text_field :name%>
  <br/>
  <%= f.label "Email:"%>
  <%= f.email_field :email%>
  <br/>
  
  <%= f.submit "Submit"%>

<% end%>