<div class="col-md-offset-2 col-md-4">
<h3 class="text-center">Invitations</h3>
<ul class="event-container">
  <% @invitation.each do |e|%>
    <li>
    <span class="event-date"><%= e.date%></span><br>
     <span class="event-description"><%= e.description%></span>
    <%= link_to 'See event', event_path(e)%> 
    <%=form_for(e, url: accept_path) do |f|%>
        <%=f.hidden_field :id%>
        <%= f.submit 'Accept' , class: 'btn btn-success float-right'%>
    <%end%>
    <%# <%= link_to 'Attend this event', attendances_path(:event_id => e.id), method: :post %>
  </li>
  <% end %>
</ul>
</div>