<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <h2 class="col-md-8">
        Private Events
      </h2>      
       <div class="col-md-4">
       <%if logged_in?%>
        <div class="col-md-8">
         <p class="profile-name">
           Hi
          <%= current_user.username%>!
        </p>
        </div>
        <div class="col-md-4">
          <%=form_for :sessions, url: logout_path,method: :delete do |f|%>
          <%=f.submit 'Log out',class: "btn btn-danger float-right"%>
        <%end%>
        </div>
      <%else%>
        <div>
         <%=link_to 'Log in',login_path,class: "btn btn-default" %>
         <%=link_to 'Register',{controller: 'users', action: 'new'},class: "btn btn-default"%>
        </div>
        <%end%>
      </div>
    
    </header>
    <%flash.each do |type, message|%>
      <div class="<%=type%>"><%= message%></div>
    <%end%>
    <%= yield %>
  </body>
</html>
