<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <h2 class="col-md-8">
        <%=link_to 'Private Events', root_path%>
        
      </h2>      
       <div class="col-md-4">
       <%if logged_in?%>
        <div class="col-md-8">
         <p class="profile-name">
           Hi
          <%= current_user.username%>!
        </p>
       <div class="my-dropdown">
        <a class="btn btn-default" href="#" role="button">
          Events <img src= "<%=asset_path 'dd.svg'%>" height="20" width="20">
        </a>

        <div class="my-dropdown-content" aria-labelledby="dropdownMenuLink">
          <%=link_to 'Home', {:controller => :users, :action => :show},class: "my-dropdown-content-item"%>
          <%=link_to 'Create Event', {:controller => :events, :action => :new},class: "my-dropdown-content-item"%>
          <%=link_to 'All Event', {:controller => :events, :action => :index},class: "my-dropdown-content-item"%>
          <%=link_to 'Send Invitation', {:controller => :invitations, :action => :new},class: "my-dropdown-content-item"%>
          <%=link_to 'Invitations', {:controller => :invitations, :action => :index},class: "my-dropdown-content-item"%>
        </div>
      </div>
        </div>
        <div class="col-md-4">
          <%=form_for :sessions, url: logout_path,method: :delete do |f|%>
          <%=f.submit 'Log out',class: "btn btn-danger float-right"%>
        <%end%>
        </div>
      <%else%>
        <div>
         <%=link_to 'Log in',login_path,class: "btn btn-default" %>
         <%=link_to 'Register',{controller: 'users', action: 'new'},class: "btn btn-default"%>
        </div>
        <%end%>
      </div>
    
    </header>

      <div class='container'>
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
    
    </div>
    <%= yield %>
  </body>
</html>
